<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
</head>
<body style="margin: 0; padding: 0;">
    <div style="background-color: #222222; color: #ffffff; width: 100vw; height: 100vh;" class="main">
        <div class="form">Form Here</div>
        <br>
        <div class="display">Display Data ->
            <p><%=text%></p>
        </div>
    </div>
</body>
</html>